* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pass-1 .head {
    display: flex;
    padding: 1.5rem 10%;
    transition: 1s;
}

.head .menu {
    padding-left: 65%;
}

.menu ul {
    display: flex;
}

.menu ul li {
    list-style: none;
    padding-left: 1.5rem;
    color: white;
}

.menu ul li a,
.title>span>a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    opacity: .8;
}

.title>span>a {
    font-size: 21px;
}

.menu ul li a {
    font-size: 15px;
}

.hole .pass-1 {
    background: linear-gradient(rgba(92, 77, 66, 0.8) 0px, rgba(92, 77, 66, 0.8) 100%) 0% 0% / cover no-repeat fixed, url(image/laptop.jpg);
    height: 700px;
}

.pass-1 .content-1>h1 {
    text-align: center;
    padding: 8rem 0;
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.content-1>hr {
    width: 3.5rem;
    height: 0.2rem;
    background-color: #f4623a;
    border: 1px solid white;
    margin: -7rem auto;
}

.content-1>p {
    color: white;
    font-size: 1.2rem;
    opacity: .9;
    text-align: center;
    margin: 8rem;
}

.content-1>button {
    display: block;
    margin: -5rem auto;
    padding: 1rem 1.5rem;
    border-radius: 100px;
    background-color: #f4623a;
    border: 2px solid white;
    font-weight: bold;
}

.pass-2 {
    background-color: #f4623a;
    color: white;
    height: 500px;
}

.content-2 .sub-content-2>h3 {
    text-align: center;
    font-size: 2.1rem;
    padding: 8rem 0;
}

.content-2 .sub-content-2>hr {
    width: 3.5rem;
    height: 0.2rem;
    background-color: white;
    margin: -7rem auto;
}

.content-2 .sub-content-2>p {
    opacity: .5;
    text-align: center;
    margin-top: 9rem;
}

.content-2 .sub-content-2>button {
    display: block;
    margin: auto;
    padding: 1rem 1.5rem;
    border-radius: 100px;
    border: 2px solid white;
    font-weight: bold;
}

.pass-3 {
    height: 500px;
}

.content-3 .sub-content-3>h3 {
    font-size: 2.1rem;
    text-align: center;
    padding: 8rem 0;
}

.content-3 .sub-content-3>hr {
    width: 3.5rem;
    height: 0.2rem;
    background-color: #f4623a;
    margin: -7rem auto;
}

.sub-content-3 .icon {
    display: flex;
    margin: 12rem 0;
}

.sub-content-3 .icon div {
    text-align: center;
    margin: auto;
}

.sub-content-3 .icon div>div {
    font-size: 70px;
    color: #f4623a;
    display: block;
}

.pass-4 .content-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.content-4 div>img {
    width: 31.7rem;
    position: absolute;
}

.content-4 div>div {
    background-color: #f4623a;
    position: relative;
    opacity: 0.8;
    height: 273px;
    visibility: hidden;
}

.pass-4 .content-4 div:hover .slide {
    background-color: #f4623a;
    opacity: 0.8;
    visibility: visible;
}

.content-4 div>div>p {
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 7rem;
}

.pass-5 {
    background-color: #343a40;
    height: 375px;
    color: white;
}

.pass-5 .content-5>div>h3 {
    font-size: 2rem;
    text-align: center;
    padding: 8rem 0;
}

.pass-5 .content-5>div>button {
    display: block;
    margin: auto;
    padding: 1rem 1.5rem;
    border-radius: 100px;
    border: 2px solid white;
    font-weight: bold;
    margin-top: -7rem;
}

.pass-5 .content-5>div>button>a {
    text-decoration: none;
}

.pass-6 {
    height: 400px;
}

.pass-6 .content-6>h3 {
    font-size: 2rem;
    text-align: center;
    margin: 8rem 0;
}

.pass-6 .content-6>hr {
    width: 3.5rem;
    height: 0.1rem;
    background-color: #f4623a;
    margin: -7rem auto;
}

.pass-6 .content-6>p {
    text-align: center;
    font-size: 1.1rem;
    color: gray;
    font-weight: 500;
    margin-top: 9rem;
}

.pass-6 .content-6>div {
    display: flex;
    justify-content: center;
}

.pass-6 .content-6>div div {
    padding: 0 5rem;
    font-size: 3rem;
    color: gray;
}

.pass-6 .content-6>div div>p {
    font-size: 1.2rem;
    text-align: center;
}

.pass-6 .content-6>div div>p>a {
    text-decoration: none;
}

.end {
    background-color: black;
    height: 100px;
}

.end>p {
    font-size: 0.9rem;
    opacity: .9;
    color: gray;
    text-align: center;
    padding-top: 2.5rem;
}

@media all and (max-width:480px) {
    .pass-4 .content-4 {
        grid-template-columns: 100%;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #3a3a3af0;
    transition: 1s;
    z-index: 5;
}